---
#host: 127.0.0.1
#port: 5432
#user: test
#password: ****
#interval: 1
#connect-timeout: 3
#idle-timeout: 300
#active-timeout: 10
#log-file: /var/log/pgterminate/pgterminate.log
#pid-file: /var/run/pgterminate/pgterminate.pid
#log-destination: console|file|syslog
#syslog-ident: pgterminate
#syslog-facility: LOCAL0
#include-users:
#    user1
#    user2
#include-users-regex: "(user1|user2)"
#exclude-users:
#    user1
#    user2
#exclude-users-regex: "(user1|user2)"
